*{
    box-sizing: border-box;
}
.conteiner{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.list{
    display: flex;
    flex-direction: column;
    border: #086de0 1.25rem solid ;
    width: 350px;
    height: 450px;
    overflow-y: auto;
    padding: 0;
}
.list-item{
    display: flex;
    border-bottom:solid 1px grey;
    padding: .9375rem;
    align-items: center;
    justify-content: space-between;

}
.list-item img{
    flex-shrink: 0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

.list-item_content{
    flex-grow: 1;
    font-family: Arial, sans-serif;
}
.infor{
    color: rgb(80, 77, 77);
    font-size: 15px;
}