@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=New+Amsterdam&display=swap');
:root{
    --altura-login: 40vw; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container{
    display: flex;
    height: 100vh;
    width: 100%;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--altura-login); 
    padding: 80px;
}
h2{ 
    margin-bottom: .625rem;
    color: black;
}
p{
    color: rgb(103, 103, 103);
    margin-bottom: 15px;
}
.login form{
    display: flex;
    flex-direction: column;
}
.login input{
    border: .0625rem solid rgb(227, 216, 216);
    border-radius: .25rem;
    padding: 1rem;
    margin-bottom: 1.25rem;
    font-size: 1.0625rem;
    height: 40px;
}
.enter{
    background-color: black;
    color: white;
    cursor: pointer;

    align-items: center;
    text-align: center;
    justify-content: center;
}
.or{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.25rem 0;
    color: rgb(40, 38, 38);
    font-size: 16px;
    position: relative;
}
.or::before, .or::after{
    content: ' ';
    flex: 1;
    height: .0625rem;
    width: 100%;
    background-color: rgb(227, 216, 216);
}
.or span {
    padding: 0 10px;
    background-color: white;
}
.continuando{
    display: flex;
    flex-direction: column;
}
.google, .apple, .facebook{
    display: flex;
    border: .0625rem solid rgb(227, 216, 216);
    border-radius: .25rem;
    padding: 1rem;
    margin-bottom: 1.25rem;
    height: 2.5rem;
    font-size: 1.0625rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.redes{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.termos a {
    text-decoration: none;
    text-decoration: underline;
    color: black;
}
.imagem-container {
    display: flex;
    width: calc(100vw - var(--altura-login));
    height: 100vh;
    background-image: url('https://i.pinimg.com/originals/7e/b0/e0/7eb0e012573e9ba06f2a440eea298169.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.imagem-container p {
    position: absolute;
    left: 2.5rem;
    top: 2.5rem;
    align-self: flex-start;
    color: white;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-size: 1.375rem;
}
.imagem-container .legenda{
    position: absolute;
    top: 11.25rem;
    left: 2.5rem;
    font-size: .9375rem;
    color: rgb(205, 206, 206);
}